<% sort_init "#{Rate.table_name}.date_in_effect", "desc"
   sort_update RatesController::SORT_OPTIONS %>

<div id="rates">
  <p>
    <%= link_to l(:label_rate_new), new_user_rate_path(@user),
        remote: true, class: 'icon icon-add' %>
  </p>

  <% @rates = Rate.visible.recently.includes(:project).where(user_id: @user.id) %>

  <%= render partial: 'rates/list' %>
</div>
