<h1><%= l(:label_rate_new) %></h1>

<%= form_for(@rate) do |f| %>
<%= render partial: 'rates/form', locals: { f: f } %>

<%= submit_tag((@rate.new_record? ? l(:button_add) : l(:button_update)),
    class: 'button-small')-%>
<% end %>
